* {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}


body, html {
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	font-family: sans-serif;
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	font-family: all;
	min-height: 600px;
	height: 100%;

}

main {
	flex-grow: 1;
}

h1 {
	font-size: 150%;
	padding: 2rem;
	text-align: center;
}

span {
	color: #f22;
	padding-left: .2rem;
}

button {
	outline: none;
}

.counter-btn {
	border: none;
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	color: #f22;
	touch-action: manipulation;
	background-color: #f22;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}


/*.counter-btn {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(tasbeeh.jpeg);
	background-size: contain;
	font-weight: 600;
}*/

.counter-btn:hover {
	background-color: #d00;
}

.click-here-btn {
	font-size: 150%;
}

.reset-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem 1rem;
	font-size: 80%;
}

.counter-container,
.click-here-conatiner {
	padding: 2rem;
}

.reset-container {
	padding: 4rem 0 1rem 0;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 0 0 .2rem 0;
}

.footer-name {
	font-size: 70%;
	font-weight: 100;
	border-bottom: 1px solid #f22;
}